name: clang-format check

on:
  pull_request:
    branches: [ "main" ]

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jidicula/clang-format-action@v4.16.0
        with:
          clang-format-version: "18"
